.library-item{
    width: 400px;
    cursor: pointer;
}
.library-item:hover{
    background-color: #efefef;
    border-radius: 20px;
}

.library-item .library-video-poster img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.video-title{
    font-weight: bold;
}

.owner-video-full-name{
    color: gray;
}
.owner-video-full-name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.video-meta-view::after{
    content:"." ;
}

.library-video-meta{
   height: 100px;
}

.video-meta-data{
    color: gray;
}

.video-meta-data:hover{
  font-size: 1.1rem;
  font-weight: bold;
  color: grey;
}

.library-item .fa-youtube{
color: red;
font-size: 2.5rem;
}

.library-item .fa-youtube:hover{
    font-size: 4rem;
}




